<!-- Footer -->
<footer>
    <div class="primeira" id="contato">
        <div class="coluna">
            <p class="titulo">Atendimento ao cliente</p>
            <div>
                <i class="fa-brands fa-whatsapp"></i>
                <p data-footer-field="telefone"></p>
            </div>

            <div class="titulo">
                <i class="fa-solid fa-envelope"></i>
                <p data-footer-field="email"></p>
            </div>
        </div>
    </div>

    <div class="segunda">
        <img src="../assets/img/logo-texto.png" alt="">
        <p>© Copyright <span data-footer-field="year">2025</span> - <span data-footer-field="nome-fantasia">Royal Burguer</span> | CNPJ <span data-footer-field="cnpj">00.000.000/0001-00</span> | <span data-footer-field="endereco">R. Rui Barbosa, 162, Centro, Birigui - SP | CEP 1620</span></p>
    </div>
</footer>