<div class="modelo-alert-modal" style="display: none;">
  <div class="modal-o"></div>
  <div class="modelo-msg-body">
    <div class="icon-msg">
      <img src="../assets/svg/logo.svg" alt="logo-royal-burguer">
      <div class="icon-msg-delete">
        <i class="fa-solid fa-trash"></i>
        <div class="icon-msg-delete-text">
          <p>Retornar mensagem de exclusão</p>
        </div>
      </div>
      <div class="icon-msg-sucess">
        <i class="fa-solid fa-check"></i>
        <div class="icon-msg-sucess-text">
          <p>Retornar mensagem de sucesso</p>
        </div>
      </div>
      <div class="icon-msg-aviso">
        <i class="fa-solid fa-exclamation-triangle"></i>
        <div class="icon-msg-aviso-text">
          <p>Retornar mensagem de aviso</p>
        </div>
      </div>
      <div class="icon-msg-info">
        <i class="fa-solid fa-info-circle"></i>
        <div class="icon-msg-info-text">
          <p>Retornar mensagem de informação</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bnt">
    <button class="cancelar">Cancelar</button>
    <button class="confirmar">Confirmar</button>
  </div>
  </div>
</div>

<div class="modelo-erro-modal" style="display: none;">
  <i class="fa-solid fa-x"></i>
  <div>
    <p class="errao">Motivo</p>
    <p class="motivo">Detalhamento do erro</p>
  </div>
</div>


