:root {
    --color-primary: #FFC700;
    --color-secondary: #FF0000;
    --color-tertiary: #3D1807;
    --color-quaternary: #F95A00;
    --color-texto-white: #FFFFFF;
    --color-texto-black: #101010;
    --color-texto-light: #525252;
    --color-texto-erased: #888888;
    --cor-div-primary: #FFFFFF;
    --cor-div-secondary: #101010;
    --color-background: #F6F6F6;
    --box-shadow: 0px 1px rgba(0,0,0,0.15);
    --border-radius: 10px;
  }

  footer{
    background-color: var(--color-background);

    & .primeira{
      border-top: 1px solid #D9D9D9;
      border-bottom: 1px solid #D9D9D9;
      padding: 30px 0px;

      display: flex;
      align-items: flex-start;
      justify-content: center;

      gap: 100px;

      & .coluna{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        & div{
          display: flex;
          align-items: center;
          gap: 5px;
        }

        & .titulo{
          font-size: 14px;
        }

        & i{
          color: var(--color-texto-black);
          font-size: 14px;
        }

        & p{
          color: var(--color-texto-black);
          font-size: 12px;
        }

        & .icones{
          gap: 10px;
        }


      }
    }

    & .segunda{
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-texto-light);
      font-size: 14px;
      padding: 30px 0px;

      & img{
        height: 50px;
        margin-right: 20px;
      }
    }
  }
  