@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap);

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
}


main {
    padding: 68px 60px 0px 60px;
    background-color: var(--color-background);
}

.div-input {
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    & label {
        font-size: 0.85rem;
        color: var(--color-texto-erased);
        font-weight: 600;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        background: var(--cor-div-primary);
        width: fit-content;
        transition: 0.3s;
        z-index: 1;
        padding: 0 4px;

        &.active {
            color: var(--color-texto-erased);
            top: 0;
            font-size: 0.75rem;
            z-index: 3;
        }

        &.focused {
            color: var(--color-tertiary);
        }

        &.active.focused {
            color: var(--color-tertiary);
        }
    }

    & input, select {
        width: 100%;
        padding: 12px;
        font-size: 0.9rem;
        border: 2px #e0e1e4 solid;
        border-radius: 8px;
        outline: none;
        transition: 0.3s;
        background: transparent;
        z-index: 2;

        &:focus {
            border: 2px var(--color-tertiary) solid;
        }
    }

    &:focus-within label {
        color: var(--color-tertiar);
        top: 0;
        font-size: 0.75rem;
        z-index: 3;
    }

    & i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        position: absolute;
        right: 20px;
        top: 54%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 99;
        font-size: 1.1rem;
        color: var(--color-texto-erased);

        &:hover {
            color: var(--color-texto-black);
        }
    }
}